
section.footer 
    .address Corporate Address : 1st Floor, Farm Bhawan, Nehru Place.
    .contacts
        span Call Us: 9874561230
        span.Whatsapp
            img(src="/icons/whatsapp.svg" alt="w/a")
            span 9845614152
    .rights &copy;2021 COST2COST All Rights Reserved.
        

