nav.nav-bar
    .logo
      | cost2cost
    .navlink
        a.navlink__tag(href='/') HOME
    .navlink.toggle-submenu
        a.navlink__tag Internals
        .submenu-internals
            ul
                li
                    a.navlink__tag(href='/categories/motherboard') motherboards
                li
                    a.navlink__tag(href='/categories/cpu') Processors
                li  
                    a.navlink__tag(href='/categories/ram') Ram
                li  
                    a.navlink__tag(href='/categories/gpu') gpu
    .navlink
        a.navlink__tag(href='/categories/accessories') Accessories
    if loggedIn
        .navlink.toggle-submenu
            a.navlink__tag=username
            .submenu-internals
                ul
                    if !admin
                        li
                            a.navlink__tag(href='/users/profile') Profile
                    else 
                        li
                            a.navlink__tag(href='/users/profile') Admin
                
                    li
                        a.navlink__tag(href='/users/logout') Logout
    else
        .navlink
            a.navlink__tag(href='/users/login') Login / Signup
    .navlink
        a.navlink__tag(href='/cart') Cart
    .ham-menu
        span.bar
        span.bar
        span.bar