extends base

block content 
    .container--signup
        h4 Login 
        form(method="POST" id="login-form").sign_form
            .form__field
                label.form__label(for="email") Email 
                input.input__field(type="email" name="email" id="email" placeholder="Email" required) 
            .form__field
                label.form__label(for="password") Password 
                input.input__field(type="password" name="password" id="password" required)
            .error__response
            .form__field 
                input.submit__button(type="submit" value="Log in") 
            
            .form__bottom 
                | Dont Have an Account? 
                a(href="/users/signup") SignUp

    <script src="/js/login.js"></script>