<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="icon" href="icons/logo.png" type="image/gif" sizes="32x32">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monofett&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/style.css">
    <title>Cost2Cost | Gaming PCs , Electronics</title>
</head>
<body>
    <div class="container">

        <nav class="nav-bar">
            
            <div class="logo">
                cost2cost
            </div>

            <div class="navlink">
                <a href="/" class="navlink__tag">HOME</a>
            </div>

            <div class="navlink">
                <a href="#" class="navlink__tag">Self built</a>
            </div>

            <div class="navlink toggle-submenu">
                <a class="navlink__tag ">Internals</a>
                <div class="submenu-internals">
                    <ul>
                        <li><a class="navlink__tag" href="/categories/motherboard">motherboards</a> </li>
                        <li><a class="navlink__tag" href="/categories/cpu"> Processors</a></li>
                        <li><a class="navlink__tag" href="/categories/ram">Ram</a> </li>
                        <li><a class="navlink__tag" href="/categories/gpu">gpu</a> </li>
                    </ul>
                </div>
            </div>

            <div class="navlink">
                <a href="categories/accessories" class="navlink__tag">Accessories</a>
            </div>

            <div class="navlink">
                <a href="/users/login" class="navlink__tag">Login / Signup</a>
            </div>
            
            <div class="navlink">
                <a href="#" class="navlink__tag">Cart</a>
            </div>

            <div class="ham-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

        </nav>
    
        
        <section class="header">
            <div class="banner">
                
                <picture>
                    <source media="(max-width:780px)" srcset="img/banner2-sm.jpg">
                    <source media="(min-width:3840px)" srcset="img/banner2-biggest.jpg">
                    <img src="img/banner2.jpg" alt="banner">
                </picture>
                
                <div class="banner__text">
                    Upgrade Your At-Home Setup To Work And Play From Home
                </div>
            </div>
            
        </section>
        
        
        <section class="trending">
            <div class="main-heading">
                <!--<div class="heading-back">
                    <img src="img/background-heading.jpg" alt="back">
                </div>-->
                <h1>Pre-Built Systems</h1>
            </div>
            <div class="pc-extreme">
                <div class="pc-picture">
                    <img src="img/enthu.png" alt="pc-pic"/>
                </div>
                <div class="pc-text">
                    <h2>extreme</h2>
                    <h3>Rs.2,30,000</h3>
                    <ul>
                        <li>AMD Ryzen 9 3950X (16C, 32T)</li>
                        <li>AMD X570 Chipset Full ATX</li>
                        <li>16 GB*2 3200 MHz DDR4 RAM.</li>
                        <li>Nvidia Geforce RTX 3090 24 GB</li>
                    </ul>
                    
                    <div class="btn-blk tr-btn">
                        <a href=/extreme>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="pc-mid">
                <div class="pc-picture">
                    <img src="img/high.jpg" alt="pc-pic"/>
                </div>
                <div class="pc-text">
                    <h2>vybe</h2>
                    <h3>Rs.1,40,000</h3>
                    <ul>
                        <li>AMD Ryzen 7 5800X (8C, 16 T)</li>
                        <li>AMD B550 Chipset Full ATX </li>
                        <li>8 GB*2 3000 MHz DDR4 RAM</li>
                        <li>Nvidia Geforce RTX 3070 8 GB</li>
                    </ul>
                    <div class="btn-blk tr-btn">
                        <a href=/vybe>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="pc-entry">
                <div class="pc-picture">
                    <img src="img/med-end.png" alt="pc-pic"/>
                </div>
                <div class="pc-text">
                    <h2>chronos</h2>
                    <h3>Rs.80,000</h3>
                    <ul>
                        <li>AMD Ryzen 5 3600 (6C, 12Th)</li>
                        <li>AMD B450 Chipset Full ATX </li>
                        <li>8 GB 3000 MHz DDR4 RAM</li>
                        <li>Nvidia Geforce GTX 1660 Super </li>
                    </ul>
                    <div class="btn-blk tr-btn">
                        <a href=/chronos>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="pc-regular">
                <div class="pc-picture">
                    <img src="img/office.jpg" alt="pc-pic"/>
                </div>
                <div class="pc-text">
                    <h2>faithful</h2>
                    <h3>Rs.31,000</h3>
                    <ul>
                        <li>Intel® Core™ i3-10100 processor</li>
                        <li>Gigabyte H410M H Motherboard</li>
                        <li>8 GB 2666 MHz DDR4 RAM</li>
                        <li>Nvidia GeForce GTX 1050 2Gb </li>
                    </ul>
                    <div class="btn-blk tr-btn">
                        <a href=/faithful>Learn More</a>
                    </div>
                </div>
            </div>
    
        </section>
        
        <section class="categories">

            <div class="catg cat-1">
                <a href="#">
                    <div class="cat-img">
                        <img src="icons/settings.png" alt="setting">
                    </div>
                    <h4>Build your own</h4>
                </a>
            </div>
            
            <div class="catg cat-2">
                <a href="/categories/gamingchairs">
                    <div class="cat-img">
                        <img src="icons/gaming-chair.jpg" alt="chair">
                    </div>
                    <h4>Gaming chairs</h4>
                </a>
            </div>
            
            <div class="catg cat-3">
                <a href="/categories/cpu">
                    <div class="cat-img">
                        <img src="icons/cpu.png" alt="cpu">
                    </div>
                    <h4>CPUs</h4>
                </a>
            </div>
            
            <div class="catg cat-4">
                <a href="/categories/gpu">
                    <div class="cat-img">
                        <img src="icons/gpu.png" alt="gpu">
                    </div>
                    <h4>GPUs</h4>
                </a>
            </div>
    
        </section>
        
        <section class="support">
            <div class="support-text">
                <h1>QUALITY & SUPPORT</h1>

                <p>To enhance your ownership experience, our systems go through rigorous testing procedures.
                    Further sweetening the deal, we also provide unmatched hassle-free support options. </p>
            </div>
            <div class="sup-card sup1">
                <img src="icons/check.svg" alt="check">
                <p>80+ Quality Check</p>
            </div>
            <div class="sup-card sup2">
                <img src="icons/location.svg" alt="location">
                <p>3 Year Onsite Warranty</p>
            </div>
            <div class="sup-card sup3">
                <img src="icons/technical-support.svg" alt="tech-s">
                <p>Lifetime Technical Support</p>
            </div>
            <div class="sup-card sup4">
                <img src="icons/clock.svg" alt="clk">
                <p>24 Hour Burn-In-Test</p>
            </div>
        </section>
        
    
        <section class="footer">
            <div class="address">Corporate Address : 1st Floor, Farm Bhawan, Nehru Place.</div>
            <div class="contacts"><span>Call Us: 9874561230</span>
                <span class="Whatsapp">
                    <img src="icons/whatsapp.svg" alt="w/a">
                    <span>9845614152</span>
                </span>
            </div>
            <div class="rights">&copy;2021 COST2COST All Rights Reserved.</div>

        </section>

    </div>
    <script src="js/ham-menu.js"></script>
</body>
</html>