extends base

block content 
    .container--signup
        h4 change password
        form( id="password-change-form").sign_form
            .form__field 
                label.form__label(for="oldPassword") Current Password 
                input.input__field(type="password" name="oldPassword" id="oldPassword" required)
            .form__field
                label.form__label(for="newPassword") New Password 
                input.input__field(type="password" name="newPassword" id="newPassword" required)
            .form__field
                label.form__label(for="reNewPassword") Confirm New Password 
                input.input__field(type="password" name="reNewPassword" id="reNewPassword" required)
            .error__response
            .form__field 
                input.submit__button(type="submit" value="Submit") 
            

    script(defer).
      const form = document.getElementById('password-change-form')

      form.addEventListener('submit',(e)=>{
          e.preventDefault()
          const data = {}

          data["oldPassword"] = document.getElementById('oldPassword').value
          data["newPassword"] = document.getElementById('newPassword').value
          data["reNewPassword"] = document.getElementById('reNewPassword').value

          axios({
                url : 'http://localhost:3000/users/profile/password',
                method : 'PATCH',
                data : data
            })
            .then(res=>{
                if(res.data.status === 'ok'){
                    alert('Password Updated')
                }
                location.reload()
            })
            .catch(err=>{
                alert(err.response.data.message)
            })

      })
