extends base

block content 
    h4 add product

    form(id="product-create_form").product-form 
        .form__field
          .form__label
            label(for="title") title 
          input(id="title" name="title" type="text" placeholder="Enter title").input__field
        
        .form__field
          .form__label
            label(for="processor") Processor
          input(id="processor" name="processor" type="text" placeholder="Enter processor").input__field
        
        .form__field
          .form__label
            label(for="storage") Storage
          input(id="storage" name="storage" type="text" placeholder="Enter storage").input__field
        
        .form__field
          .form__label
            label(for="gpu") Gpu 
          input(id="gpu" name="gpu" type="text" placeholder="Enter gpu").input__field
        
        .form__field
          .form__label
            label(for="motherboard") Motherboard 
          input(id="motherboard" name="motherboard" type="text" placeholder="Enter motherboard").input__field
        
        .form__field
          .form__label
            label(for="ram") Ram 
          input(id="ram" name="ram" type="text" placeholder="Enter Ram").input__field

        .form__field
          .form__label
            label(for="powersupply") Powersupply 
          input(id="powersupply" name="powersupply" type="text" placeholder="Enter powersupply").input__field
        
        .form__field
          .form__label
            label(for="dimensions") Dimensions 
          input(id="dimensions" name="dimensions" type="text" placeholder="Enter dimensions").input__field
        
        
        .form__field
          .form__label
            label(for="originalprice") MSRP 
          input(id="originalprice" name="originalprice" type="number" placeholder="Enter MSRP").input__field


        .form__field
          .form__label
            label(for="discountprice") Selling Price 
          input(id="discountprice" name="discountprice" type="number" placeholder="Enter selling price").input__field

        .form__field
          .form__label
            label(for="description") Description 
          textarea(id="description" name="description" placeholder="Enter product description").form__field__textarea

        .form__field
          .form__label
          input(type='hidden' name="category" value='pc')

    
        .form__field
          .form__label
            label(for="img") Image 
          input(id="img" name="img" type="file" placeholder="Enter product title").form__field__select

        .form__field.form__field--button 
          input.submit__button(type="submit" id="product_form_btn" value="Submit" )

    script(defer).
        const form = document.getElementById('product-create_form')
        form.addEventListener('submit',(e)=>{
            e.preventDefault()
            const data = new FormData(e.target);

            axios({
                url : 'http://localhost:3000/admin/product/pc',
                method : 'POST',
                headers : {'content-type' : 'multipart/form-data'},
                data : data
            })
            .then(res=>{
                if(res.data.status === 'ok'){
                    alert('Product added')
                }
            })
            .catch(err=>{
                alert(err.response.data.message)
            })
        })