extends base

block content
    if admin 
        h4 Admin Panel 
    else
        h4 profile
    if !admin
        section.profile_dashboard 
          a(href="/orders").profile_dashboard__card
            .profile_dashboard__card__icon 
              img(src='/icons/orders.png')
            .profile_dashboard__card__text Orders

          a(href="profile/password").profile_dashboard__card
            .profile_dashboard__card__icon 
              img(src='/icons/password.png')
            .profile_dashboard__card__text Password

          a(href="profile/info").profile_dashboard__card
            .profile_dashboard__card__icon 
              img(src='/icons/personal_info.png')
            .profile_dashboard__card__text Personal Info

          a(href="profile/policy").profile_dashboard__card
            .profile_dashboard__card__icon 
              img(src='/icons/policy.png')
            .profile_dashboard__card__text Privacy Policy
    else
        section.profile_dashboard
          a(href="/admin/orders" ).profile_dashboard__card
            .profile_dashboard__card__icon 
              img(src='/icons/orders.png')
            .profile_dashboard__card__text Orders

          a(href="profile/password").profile_dashboard__card
            .profile_dashboard__card__icon 
              img(src='/icons/password.png')
            .profile_dashboard__card__text Password

          a(href="/admin/users").profile_dashboard__card
            .profile_dashboard__card__icon 
              img(src='/icons/personal_info.png')
            .profile_dashboard__card__text Add Admin

          a(href="/admin/product").profile_dashboard__card
            .profile_dashboard__card__icon 
              img(src='/icons/add_product.png')
            .profile_dashboard__card__text Add Product

          a(href="/admin/product/pc" style={height:'20rem'}).profile_dashboard__card
            .profile_dashboard__card__icon 
              img(src='/icons/add_product.png')
            .profile_dashboard__card__text Add Prebuilts 