.btn-blk{
    display:flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background:rgb(192, 29, 29) /*lighten($primary-color,5)*/;
    height:3.5rem;
    width:12rem;
    @media only screen and (max-width:$smalltab-brk){
        height:5rem;
        width:20rem;
    }
    cursor: pointer;
    
    &::before{
        content:'';
        position: absolute;
        border:3px dotted rgb(192, 29, 29);
        z-index: -1;
        top:0px;
        right:0;
        left:0;
        bottom:0;
        transition: top, bottom, left, right,transform, 170ms ease-in-out;
    }
    
    &:hover{
        transform: translateY(-2px);
        &::before{
            z-index: 1;
            top:-5px;
            right:-5px;
            left:-5px;
            bottom:-5px;
        }
    }
    &:active{
        transform: translateY(-1px);
    }
}

.order__button{

    &--delete{
        cursor:pointer;
        background: rgb(170, 51, 51);
        border: none;
        padding:1.75rem 2rem;
        border-radius: 3px;;
        color:white;
    }
    &--normal{
        cursor:pointer;
        background: rgb(37, 119, 30);
        border: none;
        padding:1.75rem 2rem;
        border-radius: 3px;;
        color:white;
        
    }
}

.buy-now__button{
    cursor:pointer;
    border: none;
    padding:1rem 3.75rem;
    border-radius: 3px;;
    color:rgb(248, 248, 248);
    font-size: 1.4rem;
    background:rgb(94, 47, 204) /*lighten($primary-color,5)*/;

    @media only screen and (min-width:$smalltab-brk){
        &:hover{
            transform: translateY(-1px);
        }
    }

    @media only screen and (max-width:$smalltab-brk){
        font-size: 1.7rem;
        padding:1.25rem 4rem;
    }
    
}

